%h5{style: 'color: black;'} Past
- if @past_appointments.any?
  - @past_appointments.each do |date|
    %p= date.first
    - date.second.each do |appointment|
      = link_to(modal_path(appointment.id), remote: true, data: {target: "#appointmentUser", toggle: "modal"}) do
        .card
          .col-sm-7
            =render partial: 'appointment', locals: {appointment: appointment}
          .col-sm-5.cardDate
            %p
            - if appointment.type == 'ClosedAppointment'
              %b= t('view_clients.past_appointments.closed')
            - elsif appointment.type == 'CancelledAppointment'
              %b= t('view_clients.past_appointments.cancelled')
            - elsif appointment.type == 'CompletedAppointment'
              %b= t('view_clients.past_appointments.completed')
            %p.date= date_to_time(set_in_timezone(appointment.start_date, current_user.id))