%br
%br

.content
  / content HEADER
  / =========================================================
  .content-header
    / leftside content header
    .leftside-content-header
      %ul.breadcrumbs
        %li
          %i.fa.fa-copy{"aria-hidden" => "true"}
          %a{:href => "#"}
            = t('view_clients.experts_search.pages')
        %li
          %a
            = t('view_clients.experts_search.search_results')
        %li
          %a
            = t('view_clients.experts_search.grid_style')
  / =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
  .animated.fadeInUp
    / RESULTS
    .row
      .col-sm-12
        .panel
          .panel-content
            %h4
              = t('view_clients.experts_search.results_for')
              %span.highlight
                = t('view_clients.experts_search.mind_experts')
            %h6
              = t('view_clients.experts_search.total_search_results')
              %b #{@expert_count}
            .search-results-grid
              .row
                - if @search_option.present?
                  .col-lg-12
                    %a.btn.btn-primary.btn-wide.revealOnScroll{"data-animation" => "fadeInUp", "data-timeout" => "400", :href => be_expert_appointment_path(first_available: true, search_token: @search_option.search_token)}
                      %i.fa.fa-align-left
                        = t('view_clients.experts_search.find_first_available')
                    %br
                - @experts.each do |expert|
                  .col-sm-6.col-md-3
                    %a{:href => expert_path(expert.id, search_history_id: @search_history.id)}
                      = image_tag expert.avatar.url, :class => "img-responsive" if expert.avatar.present?
                      = image_tag "apple-touch-icon-144x144-precomposed.png", :class => "img-responsive" if expert.avatar.present? == false
                    .search-item-content
                      %a.search-title{:href => "#"}=expert.fullname
                      %p
                        %i.fa.fa-map-marker
                        //localizacion del usuario
                        = expert.location
                      %p.text= "#{t('view_clients.experts_search.projects_done')}: " +  expert.completed_appointments.count.to_s

                      - matching_skills(params[:search_history_id], expert.skills).each do |skill|
                        %a.badge.x-lighter-1.b-rounded{:href => "#"}= t(skill.locale)


                      %p{:style => "text-align:center; margin-top:10px;"}
                        = link_to(expert_path(expert.id, search_history_id: @search_history.id), class: 'btn btn-primary btn-block') do
                          %i.fa.fa-align-left
                          = t('view_clients.experts_search.view_profile')

            %nav{"aria-label" => "#{t('view_clients.experts_search.page_navigation')}"}
              %ul.pagination
                %li
                  %a{"aria-label" => "#{t('view_clients.experts_search.previous')}", :href => "#"}
                    %i.fa.fa-caret-left
                %li.active
                  %a{:href => "#"} 1
                %li
                  %a{:href => "#"} 2
                %li
                  %a{:href => "#"} 3
                %li
                  %a{:href => "#"} 4
                %li
                  %a{:href => "#"} 5
                %li
                  %a{"aria-label" => "#{t('buttons.next')}", :href => "#"}
                    %i.fa.fa-caret-right
/ =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
