.row
  .col-sm-12
    %h4.section-subtitle
      %b 
        = t('view_work_histories.form.about_you')
      %small
        = '(' + t('view_work_histories.form.tell_us_about_you') + ')'
    .panel
      .panel-content
        .form-wizard.wizard-block.wizard-icons
          %form#wizard-5
            .tab-steps
              %ul
                %li
                  %a{ :href => "/experts/onboarding/welcome"}
                    %span.tab-icon
                      %i.fa.fa-smile-beam
                    %span.tab-text
                      = t('view_work_histories.form.welcome')
                %li
                  %a{ :href => "/experts/onboarding/general_information"}
                    %span.tab-icon
                      %i.fa.fa-address-card
                    %span.tab-text
                      = t('view_work_histories.form.general_information')
                %li
                  %a{:href => "/experts/onboarding/resume"}
                    %span.tab-icon
                      %i.fa.fa-receipt
                    %span.tab-text
                      = t('view_work_histories.form.resume')
                %li
                  %a{ :href => "/experts/onboarding/services"}
                    %span.tab-icon
                      %i.fa.fa-suitcase
                    %span.tab-text
                      = t('view_work_histories.form.services')
                %li
                  %a{:href => "/experts/onboarding/languages"}
                    %span.tab-icon
                      %i.fa.fa-language
                    %span.tab-text
                      = t('view_work_histories.form.languages')
                %li
                  %a{:href => "/experts/onboarding/degrees"}
                    %span.tab-icon
                      %i.fa.fa-graduation-cap
                    %span.tab-text
                      = t('view_work_histories.form.degrees')
                %li
                  %a{ :href => "/experts/onboarding/top_level_seniority"}
                    %span.tab-icon
                      %i.fa.fa-angle-double-up
                    %span.tab-text
                      = t('view_work_histories.form.top_level_seniority')
                %li
                  %a{:href => "/experts/onboarding/work_industries"}
                    %span.tab-icon
                      %i.fa.fa-industry
                    %span.tab-text
                      = t('view_work_histories.form.work_industries')
                %li.active
                  %a{:href => "/experts/onboarding/positions"}
                    %span.tab-icon
                      %i.fa.fa-signal
                    %span.tab-text
                      = t('view_work_histories.form.positions')
                %li
                  %a{ :href => "/experts/onboarding/career_highlights"}
                    %span.tab-icon
                      %i.fa.fa-star
                    %span.tab-text
                      = t('view_work_histories.form.career_highlights')
                %li
                  %a{:href => "/experts/onboarding/skills"}
                    %span.tab-icon
                      %i.fa.fa-user-plus
                    %span.tab-text
                      = t('view_work_histories.form.skills')
                %li
                  %a{:href => "/experts/onboarding/about"}
                    %span.tab-icon
                      %i.far.fa-user-circle
                    %span.tab-text
                      = t('view_work_histories.form.about_me')
                %li
                  %a{:href => "/experts/onboarding/schedule"}
                    %span.tab-icon
                      %i.fa.fa-calendar
                    %span.tab-text
                      = t('view_work_histories.form.schedule')
                %li
                  %a{:href => "/experts/onboarding/summary"}
                    %span.tab-icon
                      %i.fa.fa-align-justify
                    %span.tab-text
                      = t('view_work_histories.form.summary')

%script{src:"https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.2/rails.min.js"}

.row
  .col-sm-10.col-sm-offset-1
    .panel
      .panel-header
        %span.text-md= "Job Position"

      .panel-body.text-justify
        %p
          = t('view_work_histories.form.we_recommend_you_to_fill')

%br

.row
  .col-sm-6.col-sm-offset-1
    .panel
      .panel-header
        %span.text-md= t('layout.work_industries/Speciality')
      .panel-content.text-md{:style => "text-align:justify"}
        .row{:style => "margin:20px"}
          .col-md-12
            .row.justify-content-center{:style => "margin:0px;"}
              .col-xl-12
                %h3= "Work Industries Speciality"
                -# = form_tag(work_industries_path, controller: :work_histories, remote: true, class: 'js-validation-material', id: 'work-industry-from') do |f|
                = form_for @positions, url: url_for( controller: 'work_histories', action: 'update'), method: :put do |f|
                  = hidden_field_tag :authenticity_token, form_authenticity_token

                  .row
                    .col-sm-12
                      %label{:for => "Company"}= t('view_work_histories.form.company')
                      .input-group.mb-sm
                        %span.input-group-addon.x-primary
                          %i.fa.fa-building
                        .small
                          = f.text_field :company, maxlength: 60, required: true
                  .row
                    .col-sm-12
                      %label{:for => "Company"}= t('view_work_histories.form.company_url')
                      .input-group.mb-sm
                        %span.input-group-addon.x-primary
                          %i.fa.fa-building
                        .small
                          = f.url_field :company_url, maxlength: 60
                  .row
                    .col-sm-12
                      %label{:for => "title"}= t('view_work_histories.form.size')
                      .input-group.mb-sm
                        %span.input-group-addon.x-primary
                          %i.fa.fa-sitemap
                        .small
                          = f.select :size, collection: WorkHistory.sizes.map{|s| [s,s]}
                  .row
                    .col-sm-12
                      %label{:for => "title"}= t('view_work_histories.form.job_title')
                      .input-group.mb-sm
                        %span.input-group-addon.x-primary
                          %i.fa.fa-pen
                        .small
                          = f.text_field :title, maxlength: 60, required: true
                  .row
                    .col-sm-11
                      %label{:for => "location"}= t('view_work_histories.form.location')
                      .input-group.mb-sm
                        %span.input-group-addon.x-primary
                          %i.fa.fa-map-marker
                        = f.text_field :location, id: "location", maxlength: 53, required: true

                  .row
                    %label.col-sm-12{:for => "example-daterange1"}=t('view_work_histories.form.enter_dates')
                  .row
                    .col-sm-12{:style => "padding:0px"}
                      .input-daterange.input-group.mb-sm.js-datepicker-enabled{"data-autoclose" => "true", "data-date-format" => "dd/mm/yyyy", "data-today-highlight" => "true", "data-week-start" => "1"}
                        %span.input-group-addon.x-primary.font-w600= t('view_work_histories.form.from')
                        #from_date
                          = f.date_field :from_date, required: true, "data-autoclose" => "true", "data-today-highlight" => "true", "data-week-start" => "1", placeholder: "mm/dd/yyyy", as: :date
                        %span.input-group-addon.x-primary.font-w600= t('view_work_histories.form.to')
                        #to_date
                          = f.date_field :to_date, "data-autoclose" => "true", "data-today-highlight" => "true", "data-week-start" => "1", placeholder: "mm/dd/yyyy", as: :date

                  .row
                    .col-sm-12
                      = f.check_box :present, label: 'Present', id: "work_industry_present", for: "work_industry_present", :checked => "checked", :checked => false
                      Present


                  .form-group{:style => "text-align:center"}
                    %button.btn.btn-primary.btn-wide.save-work_industry{:type => "submit"}= t('buttons.save')

      %hr
      .panel-footer
        .row
          .col-sm-4
            %a.btn.btn-lighter-1.btn-wide{:style => "margin-left:20%", href: "/experts/onboarding/positions" }= t('buttons.back')
          .col-sm-4.col-sm-offset-4
            %a.btn.btn-primary.btn-wide{type: "submit", :style => "margin-left:20%", href: "/experts/onboarding/career_highlights" }= t('buttons.next')



:javascript
    function initAutocomplete() {
      // Create the autocomplete object, restricting the search to geographical
      // location types.
      autocomplete = new google.maps.places.Autocomplete(
          /** @type {!HTMLInputElement} */(document.getElementById('location')),
          {types: ['geocode']});

      // When the user selects an address from the dropdown, populate the address
      // fields in the form.
      autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
      // Get the place details from the autocomplete object.
      var place = autocomplete.getPlace();

    }
    $("#work_industry_present").change(function(){
      if ($('#work_industry_present').is(':checked')) {
        $("#to_date").hide()
        $("#from_date").next("span").hide()
        $("#to_date").prop('disabled', true);
      }else{
        $("#to_date").show()
        $("#from_date").next("span").show()
        $("#to_date").prop('disabled', false);
      }
    });
%script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAJZh005PH0sabRv0JhsH51pIWOqZ9NaV0&libraries=places&language=en&callback=initAutocomplete"}
