%br
%br
.content
  .row
    .col-sm-10.col-sm-offset-1
      .panel.bg-scale-0.b-primary.bt-sm.mt-xl
        .row
          .col-sm-5{:style => "background-color:#003F5A"}
            %figure.text-center
              =image_tag "registration_bg.svg"
              -# Client service name
              %h2.white
                = show_service_name(@search_history.service)
          .col-sm-5
            %h3.main_question
              %strong
              = t('view_clients_onboarding.seniority_levels.select_two_levels') + ':'
            = form_tag update_search_history_path(params[:search_history_id]), method: :put do
              - SeniorityLevel.all.each_with_index do |s_level,index|
                .col-md-4{style: " white-space: nowrap;  overflow:hidden"}
                  %label.css-control.css-control-primary.css-checkbox
                    = check_box_tag "search_history[seniority_levels][]", t(s_level.locale), false, id: s_level.id
                    = label_tag :accepted, s_level.short_name, for: s_level.id, class: "check"
                    = hidden_field_tag :current_path, 'seniority_levels'
                    = submit_tag t('buttons.next'), class: 'btn btn-lighter-1 btn-wide', :style => "display: none; margin-left:20%"
        .row
          #bottom-wizard
            .col-sm-1.col-sm-offset-6
              = link_to(t('buttons.back'), previous_path(search_history_id: params[:search_history_id], current_path: 'seniority_levels'), class: "btn btn-lighter-1 btn-wide", style: "margin-left: 20%")
            .col-sm-5
              = link_to(t('buttons.next'), '', class: 'btn btn-primary btn-wide next-button', :style => "margin-left:20%")

:javascript
  $(".next-button").click(function(e){
    e.preventDefault();
    $("input[name='commit']").click();
  })
